---
import {FURNITURE} from '@/constants/furniture';
import ProductDescription from '@/components/ProductDescription';
import Layout from '../../layouts/Layout.astro';
import ProductImages from "../../components/ProductImages";

export function getStaticPaths() {
   return FURNITURE.map((product) => ({
      params: {slug: product.slug},
      props: {product},
   }));
}

const {slug} = Astro.params;
const {product} = Astro.props;
---

<Layout title={`${product.name}`}>
    <div class='bg-white'>
        <div
                class='mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8'
        >
            <div class='lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8'>
                <!-- Image gallery -->

                <ProductImages client:load images={product.images} alt={`${product.brand} ${product.name}`}/>

                <!-- Product info -->
                <div class='mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0'>
                    <h1 class='text-3xl font-bold tracking-tight text-gray-900'>
                       {product.brand} - {product.name}
                    </h1>

                    <div class='mt-6'>
                        <h3 class='sr-only'>Description</h3>
                        <ProductDescription description={product.description}/>
                    </div>

                    <div class='mt-6'>
                        <div class='mt-10 flex'>
                            <a
                                    href="/contact"
                                    class='flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-copaBlue-600 px-8 py-3 text-base font-medium text-white hover:bg-copaBlue-700 focus:outline-none focus:ring-2 focus:ring-copaBlue-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full'
                            >
                                Call for Best Price
                            </a>
                        </div>
                    </div>

                    <section aria-labelledby='details-heading' class='mt-12'>
                        <h2 id='details-heading' class='sr-only'>Additional details</h2>

                        <div class='divide-y divide-gray-200 border-t'>
                            <div>
                <span class='text-sm font-medium text-gray-900'>
                  Details
                </span>
                                <div class='prose prose-sm pb-6' id='disclosure-1'>
                                    <ul role='list'>
                                       {product.brand &&
                                               <li>Brand: {product.brand}</li>}
                                       {product.name &&
                                               <li>Model: {product.name}</li>}
                                       {product.category &&
                                               <li>Category: {product.category}</li>}
                                       {product.dimensions.width &&
                                               <li>Width: {product.dimensions.width} inches</li>}
                                       {product.dimensions.depth &&
                                               <li>Depth: {product.dimensions.depth} inches</li>}
                                       {product.dimensions.height &&
                                               <li>Height: {product.dimensions.height} inches</li>}
                                       {product.dimensions.weight &&
                                               <li>Weight: {product.dimensions.weight} lbs</li>}
                                        {product.features && product.features.length > 0 && (
                                           <li>Features:</li>
                                           <ul>
                                               {product.features.map((feature, index) => (
                                                  <li>{feature}</li>
                                               ))}
                                           </ul>
                                        )}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</Layout>
